* {
  box-sizing: border-box;
}

body {
  font-family: "Baloo Paaji 2", cursive;
  margin: 0;
  padding: 0;
  color: white;
}

/* Navigation Bar styling */
header {
  font-weight: 700;
  padding-top: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.left {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 35px;
  text-shadow: 3px 3px 1px #817e7e;
  font-family: "Courgette", cursive;
}

.left a {
  text-decoration: none;
  color: white;
}

.mid {
  display: block;
  width: 500px;
  margin: auto;
  text-align: center;
  padding: 1px;
}

.mid ul {
  list-style: none;
}
.mid a {
  color: white;
  text-decoration: none;
}
.mid .active {
  color: grey;
}
.mid ul li {
  display: inline;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.mid ul li:hover {
  color: grey;
  text-decoration: underline;
}

.right {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 17px;
  align-self: center;
  border: 0px;
}

.right input {
  background-color: #efefef;
  border: 0px;
  border-radius: 20px;
  padding: 5px;
  width: 80%;
  border-right: 3px rgba(128, 128, 128, 0.75) solid;
  border-bottom: 3px rgba(128, 128, 128, 0.75) solid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 12px;
}

@media only screen and (max-width: 850px) {
  header {
    width: 100%;
  }
  .left {
    width: 99%;
    text-align: center;
    margin-left: -38px;
  }
  .mid {
    width: 95%;
    margin-top: 3em;
    margin-right: 40px;
  }
  .right {
    width: 100%;
    margin-top: 5.9em;
    text-align: center;
    background-color: black;
    padding-bottom: 8px;
  }
  .right input {
    width: 32%;
  }
}
@media only screen and (max-width: 420px) {
  .mid {
    width: 80%;
    margin-left: 20px;
  }
  .right {
    margin-top: 7.2em;
    padding: 5px;
  }
  .right input {
    width: 50%;
  }
  footer img {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 290px) {
  .right {
    display: none;
  }
  #demo {
    width: 70%;
  }
}

/* main body styling */
.div1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("../Images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 120px;
  padding-top: 100px;
  text-align: center;
}

.head {
  font-size: 30px;
  width: 100%;
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.form-contact {
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
}
#box {
  height: 40px;
  width: 40%;
  margin-bottom: 5px;
  border: 1.5px solid blueviolet;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
}

#box:hover {
  cursor: pointer;
  color: midnightblue;
}

.box1 {
  resize: vertical;
  overflow: auto;
  width: 40%;
  height: 150px;
  margin-bottom: 10px;
  border: 1.5px solid blueviolet;
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 20px;
}

.btn {
  padding: 8px;
  display: block;
  margin: auto;
  margin-top: 15px;
  background-color: rgb(22, 142, 20);
  border-radius: 5px;
  border: 0px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 40px;
}
.btn:active {
  background-color: rgb(10, 49, 15);
}
.btn:hover {
  opacity: 0.8;
}
.div1 .info0 {
  font-weight: bold;
  font-size: 20px;
  width: 80%;
  margin: auto;
}
#demo {
  background-color: rgba(148, 194, 222, 0.79);
  width: 330px;
  color: rgb(8, 33, 44);
  margin: auto;
  padding: 5px;
  display: none;
  line-height: 38px;
  font-weight: bold;
}

/* Footer styling */
footer {
  background-color: rgb(16, 16, 85);
  color: white;
  text-align: center;
  padding: 30px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-top: 50px;
  margin-top: 1px;
}

.ig {
  border-radius: 50%;
}
.yt {
  width: 90px;
  padding-bottom: 2px;
}

footer img {
  padding-left: 20px;
  padding-right: 20px;
  width: 80px;
}
footer img:hover {
  opacity: 0.7;
}
footer p {
  padding-top: 25px;
}
footer p a {
  color: white;
  text-decoration: none;
}
footer p a:hover {
  color: rgb(162, 214, 232);
  text-decoration: underline;
}

footer p a:active {
  color: #e1ecf3;
}
